body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.nav-logo {
  font-size: 1.5rem;
}

.header-container {
  position: relative;
  height: 95%;
  margin-bottom: 150px;
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.left-side {
  flex: 1;
  text-align: center;
  width: 100%;
}

.header-image {
  height: 100%;
  max-width: 100%;
}

.header-intro {
  margin-top: 30px;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  width: 100%;
}

.header-intro {
  margin-top: 100px;
}

.greeting {
  font-size: 3rem;
  margin: 0;
}

.aspiration {
  font-size: 1.3rem;
  margin: 0;
  font-family: 'Courier Prime', monospace;
}

.welcome-message {
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 5px;
}

.icon-container {
  margin-top: 20px;
}

.icon-container i {
  font-size: 2rem;
  margin: 8px;
}

@media (max-width: 1024px) {
  .nav-logo {
    font-size: 1rem;
  }

  .home-container {
    flex-direction: column;
  }

  .right-side {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header-intro {
    margin-top: 0;
  }
  
  .greeting {
    font-size: 2rem;
  }

  .aspiration {
    font-size: 1.2rem;
  }

  .icon-container i {
    font-size: 1.4rem;
    margin: 8px;
  }
}

@media (max-width: 475px) {
  .greeting {
    font-size: 1.5rem;
  }
  
  .aspiration {
    font-size: 1.1rem;
  }

  .welcome-message {
    font-size: 1.2rem;
  }

  .icon-container i {
    font-size: 1.3rem;
    margin: 8px;
  }
}

@media (max-width: 330px) {
  .nav-logo {
    font-size: 0.8rem;
  }

  .greeting {
    font-size: 1rem;
  }
  
  .aspiration {
    font-size: 0.5rem;
  }

  .welcome-message {
    font-size: 0.8rem;
  }

  .icon-container i {
    font-size: 1rem;
    margin: 8px;
  }
}

@media (max-width: 248px) {
  .navbar a {
    font-size: 0.5rem;
  }

  .nav-logo {
    font-size: 0.5rem;
  }

  .greeting {
    font-size: 0.8rem;
  }
  
  .aspiration {
    font-size: 0.4rem;
  }

  .welcome-message {
    font-size: 0.6;
  }

  .icon-container i {
    font-size: 0.8rem;
    margin: 8px;
  }
}

@media (max-width: 180px) {
  .navbar a {
    font-size: 0.5rem;
  }

  .nav-logo {
    font-size: 0.5rem;
  }

  .greeting {
    font-size: 0.6rem;
  }
  
  .aspiration {
    font-size: 0.3rem;
  }

  .welcome-message {
    font-size: 0.4rem;
  }

  .icon-container i {
    font-size: 0.6rem;
    margin: 8px;
  }
}
