.projects-container {
  background-color: rgb(33, 47, 41);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  height: 100%;
}

.projects-container h2 {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.projects-container h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff; 
  animation: underlineAnimation 1s ease; 
}

@keyframes underlineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translateY(100px); 
  animation: slideIn 1s forwards; 
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: calc(30% - 10px);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project span {
  margin: 5px 0;
}

.project-name {
  font-size: 1.2rem;
}

.project a {
  text-decoration: none;
  color: #fff;
}

.project a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .project {
    width: 100%; 
  }
}

@media (max-width: 415px) {
  .project-name,
  .projects-description {
    font-size: 1rem;
  }
}
